@import './color.less';
// Optimal Screen Sizes
// Mobile: 375px
// Desktop: 1440px

//Typography
body {
  background-color: @lightCyan;
  font-size: 15px;
  font-family: Spartan;
  
  @font-face {
    font-family: 'Spartan';
    src: url('../fonts/Spartan-Regular.ttf');
    font-weight: normal;
  }

  @font-face {
    font-family: 'Spartan';
    src: url('../fonts/Spartan-Bold.ttf');
    font-weight: bold;
  }

  @font-face {
    font-family: 'Spartan';
    src: url('../fonts/Spartan-SemiBold.ttf');
    font-weight: 500;
  }
}